@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,700;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap');

// Variables
$roboto: 'Roboto',
Helvetica,
Arial,
sans-serif;

$lora: 'Lora',
serif;

$h1-lh: 1.524em;
$h2-lh: 1.545em;
$h3-lh: 1.577em;
$h4-lh: 1.6em;
$p-lh: 1.625em;
$p2-lh: 1.692em;

$svg-width: 40em;
$svg-height: $svg-width * 9 / 16;
$step-margin-unit: 2em;

$coolors-1: #4E3D42;
$coolors-2: #6D6466;
$coolors-3: #9F9F92;
$coolors-4: #C9D5B5;
$coolors-5: #E3DBDB;

/* Responsive height */
html,
body {
  height: 100%;
  margin: 0;
}

body {
  background-color: $coolors-5;
}

/* ################# */
/* Typography styles */
/* ################# */

h1,
h2,
h3,
h4 {
  font-family: $lora;
  font-weight: 400;
}

h1 {
  font-size: 2.625em;
  line-height: $h1-lh;
  margin-bottom: $h1-lh / 4;
}

h2 {
  font-size: 2.063em;
  line-height: $h2-lh;
  margin-bottom: $h2-lh / 4;
}

h3 {
  font-size: 1.625em;
  line-height: $h3-lh;
  margin-bottom: $h3-lh / 4;
}

h4 {
  font-size: 1.25em;
  line-height: $h4-lh;
  margin-bottom: $h4-lh / 4;
}

p,
li {
  font-family: $roboto;
  font-size: 1em;
  line-height: $p-lh;
}

ul {
  margin-bottom: $p-lh / 2;
}

p {
  margin-bottom: $p-lh / 2;
}

.p2 {
  font-family: $roboto;
  font-size: 0.813em;
  line-height: $p2-lh;
}

ul {
  list-style-type: circle;
  list-style-position: inside;

}

/* ####################### */
/* Styles for page content */
/* ####################### */

/* Style for title page */

.title {
  // background-color: $coolors-5;
  width: 100%;

  .title-content {
    max-width: 30em;
    padding: \min(15vh, 5em) 1.25em;
    margin: 0 auto;
  }
}

#title-0 {
  // background-color: $coolors-5;
  // background-image:
  // linear-gradient(90deg, transparent 79px, $coolors-4 79px, $coolors-4 81px, transparent 81px),
  // linear-gradient($coolors-4 .1em, transparent .1em);
  // background-size: 100% 1.2em;
  .title-content {

    h1,
    h3,
    p {
      // background-color: $coolors-5;
    }
  }
}

/* Styles for the scrolling text boxes */

.step {
  width: 100%;
  max-width: 30em;
  padding: 1.25em;
  margin-top: $step-margin-unit;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: \max($svg-height + $step-margin-unit, $step-margin-unit + 15em);
  background-color: white;
  box-shadow: 2px 2px rgba(0,0,0,.25);
  transition: all .4s ease;
  p {
    margin-bottom: 0;
  }
}

.step-svg {
  margin: $step-margin-unit auto $step-margin-unit auto;
}

.active {
  box-shadow: 7px 7px rgba(0,0,0,.15);
}

/* Styles for the SVG chart */

.svg-wrapper {
  position: relative;
  width: 100%;
  max-width: $svg-width;
  height: $svg-height;
  margin: 0 auto 0 auto;
  // border: 1px solid black;
  // background-color: #db38b5;
  z-index: -1;

  svg {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: block;
  }
}

#svg-1-1 {
  .st0 {
    fill: #eecb9b;
    stroke: #eac179;
    stroke-miterlimit: 10
  }

  .st3 {
    fill: #533814
  }

  .st6 {
    fill: #e4273a;
    stroke: #c42127;
    stroke-miterlimit: 10
  }

  .st7 {
    fill: #eecb9b
  }

  .st8 {
    fill: #ed1c24
  }
}

/* HEADER */

header {
  position: fixed;
  z-index: 100;
}


/* SCROLL DOWN */

.scroll-down {
  position: relative;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  color: black;
  text-transform: uppercase;
  overflow: visible;
  text-align: center;

  .arrow {
    position: relative;
    top: -4px;
    margin: 0 auto;
    width: 20px;
    height: 20px;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj4KPHBhdGggZmlsbD0iYmxhY2siIGQ9Ik00ODMuMiwxOTIuMmMtMjAuNS0yMC41LTUzLjUtMjAuOC03My43LTAuNkwyNTcsMzQ0LjFMMTA0LjUsMTkxLjZjLTIwLjItMjAuMi01My4yLTE5LjktNzMuNywwLjYKCWMtMjAuNSwyMC41LTIwLjgsNTMuNS0wLjYsNzMuN2wxOTAsMTkwYzEwLjEsMTAuMSwyMy40LDE1LjEsMzYuOCwxNWMxMy4zLDAuMSwyNi43LTQuOSwzNi44LTE1bDE5MC0xOTAKCUM1MDMuOSwyNDUuNyw1MDMuNywyMTIuNyw0ODMuMiwxOTIuMnoiLz4KPC9zdmc+);
    background-size: contain;
  }
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: stretch;
  position: fixed;
  top: 10px;
  left: 10px;
  background: black;
  padding: 0px 10px;

  a {
    color: white;
    font-size: 1.3em;
    line-height: 1.7;
    text-decoration: none;

    &::hover {
      text-decoration: underline;
    }
  }

  display: none;
}

progress {
  position: fixed;
  top: 0;
  left: 0;
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 10px;
  border: none;
  background: transparent;

  &::-webkit-progress-bar {
    background: transparent;
  }

  &::-webkit-progress-value {
    background: linear-gradient(to left, #db38b5, #01b3e3, #25ce7b, #fdc741, #ff6b01, #fc4236);
    background-attachment: fixed;
  }

  &::-moz-progress-bar {
    background: linear-gradient(to left, #db38b5, #01b3e3, #25ce7b, #fdc741, #ff6b01, #fc4236);
    background-attachment: fixed;
  }
}