@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');
// Variables
$roboto: 'Roboto',
Helvetica,
Arial,
sans-serif;

/* Responsive height */
html,
body {
  height: 100%;
  margin: 0;
}

/* ################# */
/* Typography styles */
/* ################# */

h1, h2, h3, h4 {
  font-family: $roboto;
}

h1 {
  font-size: 2.625em;
  line-height: 1.524em;
}

h2 {
  font-size: 2.063em;
  line-height: 1.545em;
}

h3 {
  font-size: 1.625em;
  line-height: 1.577em;
}

h4 {
  font-size: 1.25em;
  line-height: 1.6em;
}

p {
  font-family: $roboto;
  font-size: 1em;
  line-height: 1.625em;
}

.p2 {
  font-family: $roboto;
  font-size: 0.813em;
  line-height: 1.692em;
}

/* ####################### */
/* Styles for page content */
/* ####################### */

/* Style for title page */
.title {
  background-color: grey;
  width: 100%;
  // margin: 3em 0;
  .title-content {
    max-width: 30em;
    padding: 10em 1.25em;
    margin: 0 auto;
  }
}

/* Styles for the scrolling text boxes */
.active {
  opacity: 1 !important;
}

.step {
  width: 100%;
  max-width: 30em;
  padding: 1.25em;
  margin-top: 5vh;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: \max(30vh, calc(5vh + 15em));
  border: 5px solid purple;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  opacity: 0.2;
}

.step-svg {
  margin: 5vh auto 5vh auto;
}

/* Styles for the SVG chart */
svg {
  margin: 1.25em;
}

.svg-wrapper {
  position: relative;
  height: 25vh;
  min-height: 15em;
  width: 100%;
  max-width: 30em;
  margin: 0 auto 0 auto;
  border: 1px solid black;
  background-color: #db38b5;
  z-index: -1;
}

/* HEADER */

header {
  position: fixed;
  z-index: 100;
}


/* SCROLL DOWN */

.scroll-down {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%, 0);
  color: black;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 16px;
  overflow: visible;
  .arrow {
    position: relative;
    top: -4px;
    margin: 0 auto;
    width: 20px;
    height: 20px;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj4KPHBhdGggZmlsbD0iYmxhY2siIGQ9Ik00ODMuMiwxOTIuMmMtMjAuNS0yMC41LTUzLjUtMjAuOC03My43LTAuNkwyNTcsMzQ0LjFMMTA0LjUsMTkxLjZjLTIwLjItMjAuMi01My4yLTE5LjktNzMuNywwLjYKCWMtMjAuNSwyMC41LTIwLjgsNTMuNS0wLjYsNzMuN2wxOTAsMTkwYzEwLjEsMTAuMSwyMy40LDE1LjEsMzYuOCwxNWMxMy4zLDAuMSwyNi43LTQuOSwzNi44LTE1bDE5MC0xOTAKCUM1MDMuOSwyNDUuNyw1MDMuNywyMTIuNyw0ODMuMiwxOTIuMnoiLz4KPC9zdmc+);
    background-size: contain;
  }
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: stretch;
  position: fixed;
  top: 10px;
  left: 10px;
  background: black;
  padding: 0px 10px;
  a {
    color: white;
    font-size: 1.3em;
    line-height: 1.7;
    text-decoration: none;
    &::hover {
      text-decoration: underline;
    }
  }
  display: none;
}

progress {
  position: fixed;
  top: 0;
  left: 0;
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 10px;
  border: none;
  background: transparent;
  &::-webkit-progress-bar {
    background: transparent;
  }
  &::-webkit-progress-value {
    background: linear-gradient(to left, #db38b5, #01b3e3, #25ce7b, #fdc741, #ff6b01, #fc4236);
    background-attachment: fixed;
  }
  &::-moz-progress-bar {
    background: linear-gradient(to left, #db38b5, #01b3e3, #25ce7b, #fdc741, #ff6b01, #fc4236);
    background-attachment: fixed;
  }
}