@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');
// Variables
$roboto: 'Roboto',
Helvetica,
Arial,
sans-serif;

/* Use imported font in body */

// Responsive height
html,
body,
main,
article {
  width: 100%;
  height: 100%;
  margin: 0;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
  font-family: $roboto;
}

html {
  // scroll-snap-type: y mandatory;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
}

article {
  display: inline-flex;
  flex-direction: column;
  min-width: 100%;
}

.panel {
  // scroll-snap-align: start;
  // width: 100%;
  // height: 100%;
  display: flex;
  justify-content: center;
  font-weight: 600;
  font-size: 1.5em;
  text-align: left;
  color: black;
  box-sizing: border-box;
  border: 1px solid black;
  .content {
    max-width: 600px;
    display: flex;
    flex-direction: column;
  }
  .story {
    align-items: center;
    justify-content: space-around;
    padding: 2em 0 2em 0;
    .text {
      flex-grow: 1;
      p {
        border: 1px solid black;
      }
    }
    .animation {
      flex-grow: 2;
      border: 1px solid black;
    }
  }
  .title {
    justify-content: center;
  }
  .start {
    justify-content: space-evenly;
  }
  h1 {
    font-size: 1.8em;
    color: black;
    font-weight: 300;
    margin: 0 0 1em 0;
    border: 1px solid black;
  }
  p,
  li {
    color: black;
    font-weight: 400;
    text-align: left;
    font-size: 0.8em;
    line-height: 1.5em;
    strong {
      color: black;
      font-weight: 400;
    }
    code {
      background-color: rgba(255, 255, 255, 0.15);
      padding: 2px 4px;
      border-radius: 5px;
    }
  }
  li {
    margin: 0;
  }
}


/* HEADER */

header {
  position: fixed;
  z-index: 100;
}


/* SCROLL DOWN */

.scroll-down {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%, 0);
  color: black;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 16px;
  overflow: visible;
  .arrow {
    position: relative;
    top: -4px;
    margin: 0 auto;
    width: 20px;
    height: 20px;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj4KPHBhdGggZmlsbD0iYmxhY2siIGQ9Ik00ODMuMiwxOTIuMmMtMjAuNS0yMC41LTUzLjUtMjAuOC03My43LTAuNkwyNTcsMzQ0LjFMMTA0LjUsMTkxLjZjLTIwLjItMjAuMi01My4yLTE5LjktNzMuNywwLjYKCWMtMjAuNSwyMC41LTIwLjgsNTMuNS0wLjYsNzMuN2wxOTAsMTkwYzEwLjEsMTAuMSwyMy40LDE1LjEsMzYuOCwxNWMxMy4zLDAuMSwyNi43LTQuOSwzNi44LTE1bDE5MC0xOTAKCUM1MDMuOSwyNDUuNyw1MDMuNywyMTIuNyw0ODMuMiwxOTIuMnoiLz4KPC9zdmc+);
    background-size: contain;
  }
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: stretch;
  position: fixed;
  top: 10px;
  left: 10px;
  background: black;
  padding: 0px 10px;
  a {
    color: white;
    font-size: 1.3em;
    line-height: 1.7;
    text-decoration: none;
    &::hover {
      text-decoration: underline;
    }
  }
}

.Scroll-to-top {
  position: fixed;
  left: 20px;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  border: none;
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.5rem;
  padding: 0.5em;
  cursor: pointer;
  opacity: 0;
  transform: translateY(100%);
  transition: all 0.3s;
  outline: none;
  .visible {
    opacity: 1;
    transform: translateY(0);
  }
  &::hover {
    color: rgba(255, 255, 255, 0.9);
  }
}

progress {
  position: fixed;
  top: 0;
  left: 0;
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 10px;
  border: none;
  background: transparent;
  &::-webkit-progress-bar {
    background: transparent;
  }
  &::-webkit-progress-value {
    background: linear-gradient(to left, #db38b5, #01b3e3, #25ce7b, #fdc741, #ff6b01, #fc4236);
    background-attachment: fixed;
  }
  &::-moz-progress-bar {
    background: linear-gradient(to left, #db38b5, #01b3e3, #25ce7b, #fdc741, #ff6b01, #fc4236);
    background-attachment: fixed;
  }
}