@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,700;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap");
/* Responsive height */
html,
body {
  height: 100%;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #E3DBDB;
}

/* ################# */
/* Typography styles */
/* ################# */
h1,
h2,
h3,
h4 {
  font-family: "Lora", serif;
  font-weight: 400;
}

h1 {
  font-size: 2.625em;
  line-height: 1.524em;
  margin-bottom: 0.381em;
}

h2 {
  font-size: 2.063em;
  line-height: 1.545em;
  margin-bottom: 0.38625em;
}

h3 {
  font-size: 1.625em;
  line-height: 1.577em;
  margin-bottom: 0.39425em;
}

h4 {
  font-size: 1.25em;
  line-height: 1.6em;
  margin-bottom: 0.4em;
}

p,
li {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.625em;
}

ul {
  margin-bottom: 0.8125em;
}

p {
  margin-bottom: 0.8125em;
}

.p2 {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 0.813em;
  line-height: 1.692em;
}

ul {
  list-style-type: circle;
  list-style-position: inside;
}

/* ####################### */
/* Styles for page content */
/* ####################### */
/* Style for title page */
.title {
  width: 100%;
}

.title .title-content {
  max-width: 30em;
  padding: \min(15vh, 5em) 1.25em;
  margin: 0 auto;
}

.title-day {
  margin-top: 2em;
}

/* Styles for the scrolling text boxes */
.scroll-steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.step {
  display: block;
  width: 100%;
  max-width: 30em;
  padding: 1.25em;
  margin: 2em auto calc(calc(40em * 9 / 16) + 2em) auto;
  background-color: white;
  -webkit-box-shadow: 2px 2px rgba(0, 0, 0, 0.25);
          box-shadow: 2px 2px rgba(0, 0, 0, 0.25);
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.step p {
  margin-bottom: 0;
}

.step-svg {
  margin: 2em auto 2em auto;
}

.svg-end {
  display: block;
  height: 0;
}

.active {
  -webkit-box-shadow: 7px 7px rgba(0, 0, 0, 0.15);
          box-shadow: 7px 7px rgba(0, 0, 0, 0.15);
}

/* Styles for the SVG chart */
.svg-wrapper {
  display: block;
  position: relative;
  width: 100%;
  max-width: 40em;
  height: calc(40em * 9 / 16);
  margin: 0 auto 0 auto;
  z-index: -1;
}

.svg-wrapper svg {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: block;
}

#svg-3-5 .st0 {
  fill: #eecb9b;
  stroke: #eac179;
  stroke-miterlimit: 10;
}

#svg-3-5 .st3 {
  fill: #ed1c24;
}

#svg-3-5 .st4 {
  stroke: #4b3014;
  stroke-miterlimit: 10;
}

#svg-3-5 .st4,
#svg-3-5 .st5 {
  fill: #533814;
}

#svg-3-5 .st7 {
  fill: none;
  stroke: #000;
  stroke-miterlimit: 10;
}

#svg-3-7 .st0 {
  fill: #eecb9b;
  stroke: #eac179;
  stroke-miterlimit: 10;
}

#svg-3-7 .st1 {
  fill: #d0ecec;
}

#svg-3-7 .st2 {
  fill: #ed1c24;
}

#svg-3-7 .st3 {
  fill: #533814;
  stroke: #4b3014;
  stroke-miterlimit: 10;
}

#svg-3-7 .st6 {
  fill: #3a2411;
}

#svg-3-7 .st7 {
  fill: #756c60;
}

#svg-3-7 .st9 {
  fill: none;
  stroke: #000;
  stroke-miterlimit: 10;
}

#svg-4-1 .st0,
#svg-4-1 .st1 {
  fill: #eecb9b;
  stroke: #eac179;
  stroke-miterlimit: 10;
}

#svg-4-1 .st1 {
  fill: #e4273a;
  stroke: #c42127;
}

#svg-4-1 .st4 {
  fill: #125d2f;
}

#svg-4-1 .st6 {
  fill: #533814;
  stroke: #4b3014;
  stroke-miterlimit: 10;
}

#svg-4-1 .st10 {
  fill: #ed1c24;
}

#svg-4-2 .st0 {
  fill: #eecb9b;
  stroke: #eac179;
  stroke-miterlimit: 10;
}

#svg-4-2 .st4 {
  fill: #ed1c24;
}

#svg-4-2 .st5,
#svg-4-2 .st7 {
  fill: #533814;
  stroke: #4b3014;
  stroke-miterlimit: 10;
}

#svg-4-2 .st7 {
  fill: none;
  stroke: #000;
}

#svg-4-3 .st2 {
  fill: #d5b26d;
}

#svg-4-3 .st4,
#svg-4-3 .st6,
#svg-4-3 .st7 {
  fill: #eecb9b;
  stroke: #eac179;
  stroke-miterlimit: 10;
}

#svg-4-3 .st6,
#svg-4-3 .st7 {
  fill: #e1f2ef;
  stroke: #000;
}

#svg-4-3 .st7 {
  fill: #533814;
  stroke: #4b3014;
}

#svg-4-5 .st0 {
  fill: #eecb9b;
  stroke: #eac179;
  stroke-miterlimit: 10;
}

#svg-4-5 .st4 {
  fill: #ed1c24;
}

#svg-4-5 .st5 {
  fill: #533814;
  stroke: #4b3014;
  stroke-miterlimit: 10;
}

#svg-5-1 .st1 {
  fill: #fcf7d3;
}

#svg-5-1 .st2 {
  fill: #483b15;
}

#svg-5-1 .st3,
#svg-5-1 .st4 {
  fill: none;
  stroke: #37160d;
  stroke-miterlimit: 10;
}

#svg-5-1 .st4 {
  fill: #eecb9b;
  stroke: #eac179;
}

#svg-5-1 .st5 {
  fill: #1a100a;
}

#svg-5-1 .st6 {
  fill: #fff;
  stroke: #1a100a;
  stroke-miterlimit: 10;
}

#svg-5-1 .st7 {
  fill: #304c23;
}

#svg-5-1 .st10,
#svg-5-1 .st9 {
  fill: #e4273a;
  stroke: #c42127;
  stroke-miterlimit: 10;
}

#svg-5-1 .st10 {
  fill: #533814;
  stroke: #4b3014;
}

#svg-5-1 .st12 {
  fill: #ed1c24;
}

#svg-5-1 .st16 {
  fill: #304c85;
}

#svg-6-1 .st0 {
  fill: #eecb9b;
  stroke: #eac179;
  stroke-miterlimit: 10;
}

#svg-6-1 .st2 {
  fill: #ed1c24;
}

#svg-6-1 .st3,
#svg-6-1 .st6 {
  fill: #533814;
  stroke: #4b3014;
  stroke-miterlimit: 10;
}

#svg-6-1 .st6 {
  fill: none;
  stroke: #69c5b2;
}

#svg-8-1 .st0 {
  fill: #eecb9b;
  stroke: #eac179;
  stroke-miterlimit: 10;
}

#svg-8-1 .st2 {
  fill: #ed1c24;
}

#svg-8-1 .st4,
#svg-8-1 .st6 {
  fill: #533814;
  stroke: #4b3014;
  stroke-miterlimit: 10;
}

#svg-8-1 .st6 {
  fill: #e4273a;
  stroke: #c42127;
}

/* HEADER */
header {
  position: fixed;
  z-index: 100;
}

/* SCROLL DOWN */
.scroll-down {
  position: relative;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  color: black;
  text-transform: uppercase;
  overflow: visible;
  text-align: center;
}

.scroll-down .arrow {
  position: relative;
  top: -4px;
  margin: 0 auto;
  width: 20px;
  height: 20px;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj4KPHBhdGggZmlsbD0iYmxhY2siIGQ9Ik00ODMuMiwxOTIuMmMtMjAuNS0yMC41LTUzLjUtMjAuOC03My43LTAuNkwyNTcsMzQ0LjFMMTA0LjUsMTkxLjZjLTIwLjItMjAuMi01My4yLTE5LjktNzMuNywwLjYKCWMtMjAuNSwyMC41LTIwLjgsNTMuNS0wLjYsNzMuN2wxOTAsMTkwYzEwLjEsMTAuMSwyMy40LDE1LjEsMzYuOCwxNWMxMy4zLDAuMSwyNi43LTQuOSwzNi44LTE1bDE5MC0xOTAKCUM1MDMuOSwyNDUuNyw1MDMuNywyMTIuNyw0ODMuMiwxOTIuMnoiLz4KPC9zdmc+);
  background-size: contain;
}

/* The sidebar menu */
.sidebar {
  height: 100%;
  /* 100% Full-height */
  width: 250px;
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Stay on top */
  top: 0;
  left: -250px;
  /* 0 left - change this with JavaScript */
  background-color: #4E3D42;
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 60px;
  /* Place content 60px from the top */
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  /* 0.4 second transition effect to slide in the sidebar */
  /* The sidebar links */
  /* Position and style the close button (top right corner) */
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  color: #C9D5B5;
  display: block;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  /* When you mouse over the navigation links, change their color */
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 6px;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* The button used to open the sidebar */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #4E3D42;
  color: white;
  padding: 5px 10px;
  border: none;
  position: fixed;
  top: 9px;
  opacity: 0.2;
}

.openbtn:hover {
  background-color: #4E3D42;
  opacity: 1;
}

/* On smaller screens, where height is less than 500px, change the style of the
sidenav (less padding and a smaller font size) */
@media screen and (max-height: 500px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 0.813em;
  }
}

progress {
  position: fixed;
  top: 0;
  left: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  width: 100%;
  height: 9px;
  border: none;
  background: transparent;
}

progress::-webkit-progress-bar {
  background: transparent;
}

progress::-webkit-progress-value {
  background: -webkit-gradient(linear, right top, left top, from(#C9D5B5), color-stop(#9F9F92), color-stop(#6D6466), to(#4E3D42));
  background: linear-gradient(to left, #C9D5B5, #9F9F92, #6D6466, #4E3D42);
  background-attachment: fixed;
}

progress::-moz-progress-bar {
  background: linear-gradient(to left, #C9D5B5, #9F9F92, #6D6466, #4E3D42);
  background-attachment: fixed;
}
/*# sourceMappingURL=styles.css.map */