@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap");
/* Responsive height */
html,
body {
  height: 100%;
  margin: 0;
}

/* ################# */
/* Typography styles */
/* ################# */
h1, h2, h3, h4 {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 2.625em;
  line-height: 1.524em;
}

h2 {
  font-size: 2.063em;
  line-height: 1.545em;
}

h3 {
  font-size: 1.625em;
  line-height: 1.577em;
}

h4 {
  font-size: 1.25em;
  line-height: 1.6em;
}

p, li {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.625em;
}

.p2 {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 0.813em;
  line-height: 1.692em;
}

ul {
  list-style-type: circle;
  list-style-position: inside;
}

/* ####################### */
/* Styles for page content */
/* ####################### */
/* Style for title page */
.title {
  background-color: lightgray;
  width: 100%;
}

.title .title-content {
  max-width: 30em;
  padding: \min(15vh, 5em) 1.25em;
  margin: 0 auto;
}

/* Styles for the scrolling text boxes */
.active {
  opacity: 1 !important;
}

.step {
  width: 100%;
  max-width: 30em;
  padding: 1.25em;
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: \max(24.5em, 17em);
  border-radius: 5px;
  background-color: white;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  opacity: 0.2;
}

.step-svg {
  margin: 2em auto 2em auto;
}

/* Styles for the SVG chart */
.svg-wrapper {
  position: relative;
  width: 100%;
  max-width: 40em;
  height: 22.5em;
  margin: 0 auto 0 auto;
  border: 1px solid black;
  background-color: #db38b5;
  z-index: -1;
}

.svg-wrapper svg {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: block;
}

#svg-1-1 .st0 {
  fill: #eecb9b;
  stroke: #eac179;
  stroke-miterlimit: 10;
}

#svg-1-1 .st3 {
  fill: #533814;
}

#svg-1-1 .st6 {
  fill: #e4273a;
  stroke: #c42127;
  stroke-miterlimit: 10;
}

#svg-1-1 .st7 {
  fill: #eecb9b;
}

#svg-1-1 .st8 {
  fill: #ed1c24;
}

/* HEADER */
header {
  position: fixed;
  z-index: 100;
}

/* SCROLL DOWN */
.scroll-down {
  position: absolute;
  bottom: 30px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  color: black;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 16px;
  overflow: visible;
}

.scroll-down .arrow {
  position: relative;
  top: -4px;
  margin: 0 auto;
  width: 20px;
  height: 20px;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj4KPHBhdGggZmlsbD0iYmxhY2siIGQ9Ik00ODMuMiwxOTIuMmMtMjAuNS0yMC41LTUzLjUtMjAuOC03My43LTAuNkwyNTcsMzQ0LjFMMTA0LjUsMTkxLjZjLTIwLjItMjAuMi01My4yLTE5LjktNzMuNywwLjYKCWMtMjAuNSwyMC41LTIwLjgsNTMuNS0wLjYsNzMuN2wxOTAsMTkwYzEwLjEsMTAuMSwyMy40LDE1LjEsMzYuOCwxNWMxMy4zLDAuMSwyNi43LTQuOSwzNi44LTE1bDE5MC0xOTAKCUM1MDMuOSwyNDUuNyw1MDMuNywyMTIuNyw0ODMuMiwxOTIuMnoiLz4KPC9zdmc+);
  background-size: contain;
}

.sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  position: fixed;
  top: 10px;
  left: 10px;
  background: black;
  padding: 0px 10px;
  display: none;
}

.sidebar a {
  color: white;
  font-size: 1.3em;
  line-height: 1.7;
  text-decoration: none;
}

.sidebar a::hover {
  text-decoration: underline;
}

progress {
  position: fixed;
  top: 0;
  left: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  width: 100%;
  height: 10px;
  border: none;
  background: transparent;
}

progress::-webkit-progress-bar {
  background: transparent;
}

progress::-webkit-progress-value {
  background: -webkit-gradient(linear, right top, left top, from(#db38b5), color-stop(#01b3e3), color-stop(#25ce7b), color-stop(#fdc741), color-stop(#ff6b01), to(#fc4236));
  background: linear-gradient(to left, #db38b5, #01b3e3, #25ce7b, #fdc741, #ff6b01, #fc4236);
  background-attachment: fixed;
}

progress::-moz-progress-bar {
  background: linear-gradient(to left, #db38b5, #01b3e3, #25ce7b, #fdc741, #ff6b01, #fc4236);
  background-attachment: fixed;
}
/*# sourceMappingURL=styles.css.map */